:root {
  --backgroundDarkColor: hsl(207, 26%, 17%);
  --backgroundLightColor: hsl(180, 20%, 96%);
  --backgroundDarkSidebar: hsl(208, 26%, 23%);
  --lightModeText: hsl(200, 15%, 8%);
  --white:hsl(0, 0%, 100%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.App {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh !important;
}

.dark-mode {
  background-color:var(--backgroundDarkColor);
  color: var(--white);
}
.light-mode {
  background-color: var(--backgroundLightColor);
  color: var(--backgroundDarkColor);
}

.dark-modeForBtnMode {
  background-color: #F1C40F;
}
.light-modeForBtnMode {
  background-color: var(--backgroundDarkColor);
}
.dark-modeForBtnAdd {
  background-color: rgba(131, 131, 155, 0.3) ;
  color: var(--white);
}
.light-modeForBtnAdd {
  background-color: rgb(240, 255, 255,0.8);
  color:var(--lightModeText);
}

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 70px;
  align-items: center;
  position: sticky;
  top:0;
  z-index: 5;
}
.header button {
  margin-right: 2.1em;
  width: 2.5em;
  height: 2.5em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
.header button:active{
  box-shadow: 0 0 50px rgb(5, 248, 78);
}

.div-input {
  display: flex;
  justify-content: center;
  height: 3.2rem;
  margin-top: 2rem;
}
.div-input input {
  width: 80%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: large;
  padding-left: 8px;
}
.div-input input:focus {
  outline: 0;
  box-shadow: none;
}
.div-input button {
  height: 3.2rem;
  width: 3rem;
  cursor: pointer;
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.div-input button:hover {
  opacity: 0.7;
}
.div-input button:active{
  box-shadow: 0 0 30px rgb(13, 30, 18);
}
.dark-modeForDivInput {
  background-color:var(--backgroundLightColor);
  color: black;
}
.light-modeForDivInput {
  background-color: rgb(245, 243, 243);
  color: black;
}

.div-main {
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 88%;
}
.div-word-audio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.div-word-phonetic h2{
  font-family: Courier, monospace;
  font-size: 2rem;
}
.div-word-phonetic p{
  color:rgb(167, 5, 248);
}

.div-content {
  margin-top: 2.5rem;
}
.word-type-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
.word-type-part p {
  font-size: 1.3rem;
}
.div-line{
  height: 1px;
  width: 88%;
  background-color: gray;
  border-radius: 4px;
}
.div-meanings p {
  padding-bottom: 1rem;
  margin-top: .2rem;
  font-family: Georgia, serif;
}
.div-definitions {
  margin-left: 2rem;
}
.div-definitions li {
  margin-top: .5rem;
}
.div-source {
  margin-top: 3rem;
}
.source-line {
 width: 100%;
}
.source-elements {
  margin-top: .5rem;
}
.source-elements label{
  padding-right: 1rem;
}
.source-elements a{
  
}
.div-synonyms_antonyms {
  margin-top: 1rem;
}
.div-synonyms_antonyms label{
  font-weight: 800;
}



